<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Illuxplain - App</title>
        <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script th:src="@{/js/comment-submitter.js}" /> </script>



        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/blog-post.css}" rel="stylesheet">

    </head>

    <body>

        <div th:fragment="blog-search">
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control"> <span
                            class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled" th:each="blog: ${blogs}">
                                <li><a th:href="@{'/blog/' + ${blog.title}}" th:text="${blog.titleContent}"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Quotes Wall</h4>
                    <p>
                        <i>Do not dwell in the past, do not dream of the future,
                            concentrate the mind on the present moment.</i> <i><b>Budha</b></i>
                    </p>
                </div>

            </div>
        </div>
    </body>
</html>