<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="comment">
    <!-- Comments Form -->
    <div class="well">
        <p class="comment-submitted" style="display:none">Comment Submitted Successfully!</p>
        <h4>Leave a Comment:</h4>
        <form id="myForm" method="POST" action="/comment/add">
            <input class="form-control" name="nameOfCommentor" placeholder="name" required="required"/>
            <textarea class="form-control" rows="3" name="commentText" required="required"></textarea>
            <input type="submit" class="btn btn-primary" value="submit" />
            <input type="hidden" th:value="${blog.id}" name="blog" />
        </form>
    </div>

    <hr>

    <!-- Comment -->
    <div class="media">
        <div class="well">
            <div th:each="comment: ${comments}" class="media">
                <h4 class="media-heading">
                    <small><span th:text="${comment.nameOfCommentor}"/></small>
                </h4>
                <b>Comment</b> :<span th:text="${comment.commentText}"/>

                <b>Replies</b>
                <a  pointer="cursor" onclick="openTextBox(this)">Reply</a>
                <div style="display:none" class="replyDiv">
                    <form class="replyForm" method="POST" action="#">
                        <input id="comment_id" type="hidden" name="commentId" value="${comment.comment_id}" />
                        Name: <input type="text" name="name" class="form-control" rows="3" /><br/>
                        <textarea class="form-control" rows="3" name="reply" required="required"></textarea>
                        <input type="submit"  />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>