<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="http://fonts.googleapis.com/css?family=Lato:300,300i,400,400i">
        <link href="www.tinymce.com/css/codepen.min.css" >
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
                
        <script th:src="@{/js/tinymce/js/tinymce/tinymce.min.js}"></script>
        <script>
            tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code help wordcount'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            content_css: [
                'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                'https://www.tinymce.com/css/codepen.min.css']
            });
        </script>
        <script>
            $(document).ready(() =>
            {
                $("#preview").click(() =>
                {
                    let message = tinyMCE.editors[$('#content').attr('id')].getContent();
                    let display = $('#display').append(message);
                    console.log(message);
                });
            });
        </script>
    </head>

    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" name="logout" value="Logout" />
        </form>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/management/blog/submit}" th:object="${blog}" method="POST">
            <label>Title: </label>
            <input type="text" th:field="*{titleContent}" value="" />

            <textarea id="content" th:field="*{content}" ></textarea>
            <input type="submit" id="submit" value="Submit" />
        </form>
        <input type="button" id="preview" value="Preview" />
        <div id="display">

        </div>
    </body>
</html>