<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<base href="${base}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

		<title>Illuxplain - Contact Us</title>
		<link th:src="@{/css/style.css}" rel="stylesheet">
	</head>
	<body>
		<div class="container">  
		  <form id="contact" action='${base}submit_contact' method="post">
		    <p style="color:green;">${success}</p>
			<h3>Contact Me</h3>
			<fieldset>
			  <input placeholder="Your name" type="text" name="name" tabindex="1" required autofocus>
			</fieldset>
			<fieldset>
			  <input placeholder="Your Email Address" type="email" name="email" tabindex="2" required>
			</fieldset>
			<fieldset>
			  <textarea placeholder="Type your message here...." tabindex="5" name="message" required></textarea>
			</fieldset>
			<fieldset>
			  <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
			</fieldset>
		  </form>
		</div>
	</bodY>
</html>
