<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>

	<!-- Navigation -->
	<div th:replace="fragments/nav :: nav"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Blog Post Content Column -->
			<div class="col-lg-8">

				<!-- Blog Post -->

				<!-- Title -->
				<h1>Illuxplain Application</h1>

				<!-- Author -->
				<p class="lead">
					by <a href="#">Mubeen Ahmed</a>
				</p>

				<hr>

				<!-- Date/Time -->
				<p>
					<span class="glyphicon glyphicon-time"></span> Posted on December
					16, 2015 at 9:00 PM
				</p>

				<hr>

				<!-- Preview Image -->
				<img class="img-responsive" th:src="@{/images/startup.png}" alt="">

				<hr>

				<!-- Post Content -->
				<p class="lead">The purpose of this websites is to share
					interesting, learning experiences. This websites also share my
					little achievements. Otherwise this website has no special purpose</p>
				<p>Illuxplain application is the application that uses canvas
					drawing to share between multiple users. Illuxplain application has
					other features. Illuxplain applicaiton is not in the google play
					because of some reasons.</p>
				<p>You can find different types of articles and tutorials in
					this websites. You will also find other interesting topics that is
					off the topics in this web pages</p>
				<hr>
			</div>

			<div th:replace="fragments/blog-list :: blog-search"></div>

		</div>
		<!-- /.row -->

		<hr>

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Illupxlain-2015</p>
				</div>
			</div>
			<!-- /.row -->
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}" ></script>

</body>

</html>
